/** index.css デフォルト */

/** margin, padding初期化 */
* {
    margin: 0;
    padding: 0;
}

/** 背景色等 */
#body {
    background: black;
    color: white;
}

/** キャンバスの位置調整用flex-container */
#main-wrapper {
    display: flex;
    /* 左右: 中央 */
    justify-content: center;
    /* 上下: 下 */
    align-items: flex-end;
}

/** キャンバス */
#main {
    display: block;
    background: white;
    color: black;
}
